**/target/
*flamegraph*
**/dist/
*.vsix
tool/lang/tree-sitter-cr8/bindings
tool/lang/tree-sitter-cr8/src
tool/lang/tree-sitter-cr8/binding.gyp
tool/lang/tree-sitter-cr8/Cargo.toml
tool/lang/tree-sitter-cr8/node_modules
**/.DS_Store
**/node_modules

circ/bin
