**/target/
*flamegraph*
**/dist/
*.vsix
tool/tree-sitter-cr8/bindings
tool/tree-sitter-cr8/src
tool/tree-sitter-cr8/binding.gyp
tool/tree-sitter-cr8/Cargo.toml
tool/tree-sitter-cr8/node_modules
**/.DS_Store

